.mealhistory {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.stat-container {
  background-color: var(--dark-color);
  height: 100%;
  padding: 30px;
  width: 100%;
}

.flex-between {
  justify-content: space-between;
}
