.flex-between {
  justify-content: space-between;
}
.history-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 60px);
  display: grid;
  grid-template-columns: 350px 1fr;
}

.right-pane {
  overflow-y: auto;
}

.left-pane {
  background-color: var(--dark-color);
  overflow-y: auto;
}

/* Responsive layout */
@media (max-width: 768px) {
  .history-container {
    padding-top: 60px;
    position: static;
    height: auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  h2:not(.mealcard h2):not(.exercisecard h2) {
    font-size: 1.8em;
  }

  .left-pane {
    order: 2;
  }
  .right-pane {
    flex: none;
    overflow: auto;
    order: 1;
  }
}
.year {
  margin-top: 10px;
}
