.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 60px;
  background: var(--primary-color);
  color: var(--on-primary-color);
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.navbar-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-headings);
  margin-left: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .navbar-titletext {
    display: none;
  }
}
