.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px 0 20px;
  background: var(--primary-color);
  color: var(--on-primary-color);
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--on-body);
  text-wrap: nowrap;
  list-style: none;
}
.navbar-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-headings);
}
h1 {
  font-size: 2em;
}
