.chip {
  padding: 3px;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 5px;
}

.chip:hover {
  transform: translateY(-3px);
}
